@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.block3{
  background-color: #F6F5F5;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color:rgb(0, 0, 0,);
  padding:5%;
}
.block4{
  background-color: #1E1F23;
}
.txt{
  font-family: 'Poppins',sans-serif;
  font-weight:bolder;
  font-size: 69.3333px;
}
.txt2{
  transform: translateY(-15px);
}
.txt3{
  font-weight: bolder;
  line-height: initial;
  color: rgb(30, 31, 35);
  font-size:30.3333px;
}
.line{
  margin-bottom: 1px solid rgba(0, 0, 0, 0.125);
  width:10%;
}
.txt4{
 color:  rgb(66, 66, 66);
  font-size: 13.8667px;
  letter-spacing:3px;
}
.txt5{
  background-color: #121315;
}
.txt5 h2{
  font-size:30.3333px;
  font-weight: bolder;
  line-height: initial;
}
.txt5 hr,p{
  opacity: 0.4;
  letter-spacing:3px;
}
@media (max-width: 991px) {
  .block4 h2,p {
    text-align: center;
  }
  .rv_row{
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 400px) {
  .txt{
    font-size: 25px;
  }
  .txt2{
    margin:0px;
    line-height:45px;
    font-size: 10px;
    letter-spacing: 0px;
  }
  .block4 div{
    width:100%;
  }
  .txt5 h2,.txt5 p{
    font-size: 20px;;
  }
}
section{
  width:100%;
  margin:0px;
}